/* General Page Style */

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    background-color: #f4f8f4;
    color: #333;
    line-height: 1.7;
}


/* Headings */

h1 {
    color: #1b5e20;
    font-size: 42px;
    margin-bottom: 10px;
}

h2 {
    color: #2e7d32;
    font-size: 26px;
    font-weight: normal;
}

h3 {
    color: #1b5e20;
    font-size: 30px;
    margin-top: 45px;
    border-bottom: 2px solid #c8e6c9;
    padding-bottom: 8px;
}

h4 {
    color: #2e7d32;
    font-size: 26px;
}


/* Paragraph */

p {
    font-size: 18px;
}


/* Skills Box */

ul {
    background: white;
    padding: 25px 40px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


li {
    font-size: 18px;
    margin: 8px;
}



/* Project Cards */

.project {

    background:white;

    padding:30px;

    margin:35px 0;

    border-radius:15px;

    box-shadow:
    0 5px 15px rgba(0,0,0,0.15);

}



/* Project Images */

.project-image {

    display:block;

    width:80%;

    max-width:750px;

    height:auto;

    margin:25px auto;

    border-radius:12px;

    box-shadow:
    0 4px 10px rgba(0,0,0,0.2);

}



/* Links */

a {

    color:#1b5e20;

    font-weight:bold;

    text-decoration:none;

}


a:hover {

    color:#43a047;

}
